<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Step4STEM</title>
</head>
<body class="mypage">
    <nav>  
        <img src="./logo-white.PNG" alt="logo-white">
        <span class="nav-problem">
            <h4>문제</h4>
        </span>
        <span class="nav-profile">
            <h4>프로필</h4>
        </span>
        <span class="nav-ranking">
            <h4>순위</h4>
        </span>
        <span class="nav-settings">
            <h4>설정</h4>
        </span>
        <span class="nav-box"></span>
        <span class="nav-signup">
            <h5>가입하기</h5>
        </span>
    </nav> 
    <main class="main">
        <div class="parent-container">
            <div class="container">
                <div class="subject-name">수학</div>
                <button class="accordion">수학 (상)</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">수학 (하)</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">수학 I</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">수학 II</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">미적분</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">기하와 벡터</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">확률과 통계</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="subject-name">과학</div>
                <button class="accordion">물리</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">화학</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">생명과학</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>

                <button class="accordion">지구과학</button>
                <div class="panel">
                    <div class="panel-content">
                        <p>임시_텍스트_1</p>
                        <p>임시_텍스트_2</p>
                        <p>임시_텍스트_3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="parent-container">
            <div class="container">
                <div class="cardcontainer-title">인기 문제</div>
                <div class="cards-grid">
                    <div class="card">
                        <div class="card-title">문제1</div>
                        <div class="card-subtitle">단원1</div>
                    </div>
                    <div class="card">
                        <div class="card-title">문제2</div>
                        <div class="card-subtitle">단원2</div>
                    </div>
                    <div class="card">
                        <div class="card-title">문제3</div>
                        <div class="card-subtitle">단원3</div>
                    </div>
                    <div class="card">
                        <div class="card-title">문제4</div>
                        <div class="card-subtitle">단원4</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cardcontainer-title">사용자 랭킹</div>
                <div class="cards-grid">
                    <div class="card">
                        <div class="card-title">ID1</div>
                        <div class="card-subtitle">점수1</div>
                    </div>
                    <div class="card">
                        <div class="card-title">ID2</div>
                        <div class="card-subtitle">점수2</div>
                    </div>
                    <div class="card">
                        <div class="card-title">ID3</div>
                        <div class="card-subtitle">점수3</div>
                    </div>
                    <div class="card">
                        <div class="card-title">ID4</div>
                        <div class="card-subtitle">점수4</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var acc = document.getElementsByClassName("accordion");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
</body>
</html>