/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
 
/*=============== HEADER & NAV ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 100%;
  background-color: #F4F3EA;
  margin-bottom: 2px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
}

.hi{
  background-color: #CBD0D8;
  margin-top: 20px; 
  margin-left: 5%;
  margin-right: 5%;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

body{
  background-color: #333D51;
  margin: 70px 0 0 0;
  display: flex;
}


.box {
  background-color: #CBD0D8; 
  padding: 3%;
  padding-bottom: 10%;
  max-width: 100%;
  width: 100%;
  margin-top: 5%;
}

.goback {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  transition: transform 0.3s ease;
  font-size:medium;
  white-space: nowrap;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.goback:hover {
  transform: scale(1.1); 
}

.goback-outline{
  border: 3px solid #CBD0D8;
  color: #6e6e6e;
}

button {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  border: none;
  grid-template-columns: 1fr 1fr; 
  font-size: 1rem; 
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

button:hover{
  transform: scale(1.05); 
  background-color: #CBD0D8;
}

.outline-color{
  border: 3px solid #CBD0D8;
  color: #6e6e6e;
}

button.outline-button {
  display: flex;
  position: relative;
  justify-content: center;
  width: 90%;
  font-size: 2rem;
  align-items: center;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.header{
  width: 70%;
  position: fixed;
  bottom : 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  justify-content: center;
  gap: 5%;
}

.container-mille{
  width: 100%;
  height: 95%;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding: 0;
  align-items: center;
  box-sizing: border-box;
}

.con-cate{
  background-color: #F4F3EA;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  padding: 30px;
  justify-content: center;
  width: 100%;
  height: 95%;
}

.con-cate-mille{
  background-color: #F4F3EA;
  padding: 10%;
  width: 100%;
  height: 90%;
  align-items: center;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 3%; 
  width: 100%; 
  margin: 0 auto; 
}


.nav-outline{
  border: 3px solid #CBD0D8;
  color: #6e6e6e;
}


nav{
  height: 35px;
  width: 94%;
  padding: 23px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #F4F3EA;
  border-radius: 0 0 30px 30px;
  position: fixed;
  display: block;

  transition: padding 0.3s ease-in-out;
  z-index: 10;
}

nav:hover{
  padding: 28px;
}


nav img{
  width: 150px;
  height: 150%;
  display: inline-block;
  object-fit: contain;
  position: relative;
  bottom: 30%;
}
.nav-ranking{
  position: absolute;
  right: 255px;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
}
.nav-ranking h4{
  margin: 0;
  cursor: pointer;
}


.nav-settings{
  position: absolute;
  right: 330px;
  top: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
}
.nav-settings h4{
  margin: 0;
}


.nav-profile{
  position: absolute;
  right: 405px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.nav-profile h4{
  margin: 0;
}


.nav-problem{
  position: absolute;
  right: 180px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}
.nav-problem h4{
  margin: 0;
}


.nav-signup{
  background-color: #5C5C5C;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
  cursor: pointer;
}
.nav-signup:hover{
  background-color: #8F5AFF;
  padding: 13px;
}


.nav-signup h5{
  color: #D9D9D9;
  margin: 0;
}


.nav-box{
  background-color: #5C5C5C;
  width: 5px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translate(0, -50%);
}


