<!DOCTYPE html>
<html lang="ko">
<html>

<head>
    <link href="static/css/style_bj.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ problem.title }}</title> <!--카테고리 : 수1, 수2 등등-->
</head>

<body>
    <header>
        <nav>
            <img src="static/img/logo.png" alt="logo-white">
            <span class="nav-problem">
                <h4>문제</h4>
            </span>
            <span class="nav-profile">
                <h4>프로필</h4>
            </span>
            <span class="nav-ranking">
                <h4>순위</h4>
            </span>
            <span class="nav-settings">
                <h4>설정</h4>
            </span>
            <span class="nav-box"></span>
            <span class="nav-signup">
                <h5>가입하기</h5>
            </span>
        </nav>
    </header>
    <div class="maingrid">
        <span class="left">
            <div class="problem-upper">
                <span class="problem-upper-info">
                    <span>전체 정답률 [--%]</span>
                </span>
                <i class="ri-more-2-fill"></i>
            </div>
            <div class="problem-contents"><!--문제, 그림(필요 시), 보기(없으면 생략)-->
                <div class="problem-container">
                    <span id="problem">
                        {{ problem.content }}
                    </span>
                    <img src="static/img/problem_image_{{ problem.id }}.png" alt="문제사진">
                </div>
                <ul class="problem-info">
                    <hr>
                    <li class="problem-info-left">
                        @{{ post_user.username }}
                    </li>
                    <li class="problem-info-right">
                        <i class="ri-eye-line"></i>
                        조회수
                        <span>1</span>
                        <span class="heart">
                            <i class="ri-heart-3-line" onclick="switchitems_like()"></i>
                        </span>
                        좋아요
                        <span class="bookmark">
                            <i class="ri-bookmark-line" onclick="switchitems_bookmark()"></i>
                        </span>
                        저장
                        <span class="comment">
                            <i class="ri-message-2-line" onclick="switchitems()"></i>
                        </span>
                        댓글
                    </li>
                </ul>
            </div>
        </span>
        <span class="right">
            <span class="right-top">
                <span class="right-top1">
                    <form id="addSubmit">
                        <div class="right-top-upper">
                            <span>답안 입력</span>
                            <i class="ri-attachment-2" onclick="document.getElementById('submitFileInput').click();"></i>
                            <label for="submitFileInput">
                                <input type="file" id="submitFileInput"onchange="preview()"/>
                            </label>
                            <input type="submit" value="제출"/>
                        </div>
                        <div class="submitContainer">
                            <textarea type="text" class="submitText"></textarea>
                            <div id="submit-preview"></div>
                        </div>
                    </form>
                </span>
            </span>
            </span>
        </span>
    </div>
</body>
<script src="static/js/script_bj.js"></script>

</html>