
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Step4STEM Problem Page</title>
    <!--<link rel="icon" href="C:\Users\user\Desktop\STEMHUB\assets\img\pencil.png"> -->
    <link rel="stylesheet" href="static/css/selectProblems_style.css"/>
</head>
<body>
    <nav>
        <img src="./logo-white.PNG" alt="logo-white">
        <span class="nav-problem"><h4>문제</h4></span>
        <span class="nav-profile"><h4>프로필</h4></span>
        <span class="nav-ranking"><h4>순위</h4></span>
        <span class="nav-settings"><h4>설정</h4></span>
        <span class="nav-box"></span>
        {% if user.is_authenticated %}
            <a class="nav-signup" href={{url_for('logout')}}><h5>로그아웃</h5></a>
        {% else %}
            <a class="nav-signup" href={{url_for('login')}}><h5>로그인</h5></a>
        {% endif %}
    </nav>
    <div class="main">
        <br>
        <div class="hi">
            <b>Step4STEM 문제풀이 페이지입니다.</b>
            <br>
            <p>아래에서 어떤 문제에 도전해볼 것인지 선택해주세요!!</p>
        </div>
        <div id="problempage">
            <div class="container">
                <div class="box">
                    <h1>수학</h1>
                    <br>
                    <div class="con-cate">
                        <div class="grid">
                            <button class="outline-button outline-color" type="button">수(상)</button>
                            <button class="outline-button outline-color" type="button">수(하)</button>
                            <button class="outline-button outline-color" type="button">수1</button>
                            <button class="outline-button outline-color" type="button">수2</button>
                            <button class="outline-button outline-color" type="button">미적분</button>
                            <button class="outline-button outline-color" type="button">확통</button>
                            <button class="outline-button outline-color" type="button">기하</button>

                        </div>
                    </div>
                </div>
                <div class="box">
                    <h1>과학</h1>
                    <br>
                    <div class="con-cate">
                        <div class="grid">
                            <button class="outline-button outline-color" type="button">물리</button>
                            <button class="outline-button outline-color" type="button">화학</button>
                            <button class="outline-button outline-color" type="button">생명</button>
                            <button class="outline-button outline-color" type="button">지구</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-mille">
                <div class="box">
                    <h1>역대 난제 (밀레니엄 문제)</h1>
                    <br>
                    <div class="con-cate-mille">
                        <div class="grid">
                            <button class="outline-button outline-color" type="button" style="word-break:break-all;">리만 가설</button>
                            <button class="outline-button outline-color" type="button" style="word-break:break-all;">푸앵카레 정리</button>
                            <button class="outline-button outline-color" type="button" style="word-break:break-all;">나비에-스토크스 방정식</button>
                            <button class="outline-button outline-color" type="button" style="word-break:break-all;">P-NP 문제</button>
                            <button class="outline-button outline-color" type="button" style="word-break:break-all;">양-밀스 질량 간극 가설</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="goback goback-outline" type="button"> 돌아가기 </button>
            </div>
            <br>
        </div>
    </div>
    <br>
</body>    
</html>



